doctype html
include includes/head.pug
body
  include includes/header.pug
  .l-container
    .works-hero
      h2.works-hero__title Works
    // hero
    .l-container__inner.l-container__inner--works
      section.l-section
        #kurumi.column.column--works-post
          h3.column__name Kurumi
          p.column__job design / direction
          p.paragraph
            | 働く母親、働くシングルマザーをターゲットとした求人・情報収集アプリです。
            br
            | 働く女性向けかつ、男性もターゲットにしたいという要望でしたので、女性的向きすぎない色味でデザインしました。基本構成は約30ページからなり、グノシーなどのニュース系アプリやタウンワークなどの求人アプリなどを統合したような構成になっています。
          p.column__tag-box
            span #制作期間2ヶ月
            span #働く母親
            span #働くシングルマザー
            span #シングルファザー
            span #アプリ
            span #その後は不明
          #tab.works-img-box
            ul.works-img-box__figure
              li
                img(src="../assets/img/works/works_kurumi_1.png" alt="")
              li
                img(src="../assets/img/works/works_kurumi_2.png" alt="")
              li
                img(src="../assets/img/works/works_kurumi_3.png" alt="")
              li
                img(src="../assets/img/works/works_kurumi_4.png" alt="")
              li
                img(src="../assets/img/works/works_kurumi_5.png" alt="")
              li
                img(src="../assets/img/works/works_kurumi_6.png" alt="")
            ul#tab-list.works-img-box__list
              li
                img(src="../assets/img/works/works_kurumi_1.png" alt="")
              li
                img(src="../assets/img/works/works_kurumi_2.png" alt="")
              li
                img(src="../assets/img/works/works_kurumi_3.png" alt="")
              li
                img(src="../assets/img/works/works_kurumi_4.png" alt="")
              li
                img(src="../assets/img/works/works_kurumi_5.png" alt="")
              li
                img(src="../assets/img/works/works_kurumi_6.png" alt="")
          // works-img-box
        #aihada.column.column--works-post
          h3.column__name 愛肌ソープ
          p.column__job design / direction / photo / coding
          p.paragraph
            | ECサイト『コイスルカラダ』で配信されたデリケートゾーン用ソープのランディングページです。デリケートゾーンの黒ずみや臭いに対して悩む女性の年齢層、性格を絞り込み、経験豊富ではなく初めて恋人ができたような、恋愛に自信がない女性を第1ターゲットとしました。また、他社の商品からのりかえを検討しているユーザーへのアプローチとして、ジャムウをより効果的に魅せるためハーブが凝縮されたイメージや泡立ちの良さを雰囲気に盛り込んでいます。
          p.column__tag-box
            span #制作期間2週間
            span #コイスルカラダ
            span #デリケートゾーン用ソープ
            span #ジャムウ
            span #リニューアル
            span #LP
          #tab2.works-img-box
            ul.works-img-box__figure
              li
                img(src="../assets/img/works/works_aihada_1.png" alt="")
              li
                img(src="../assets/img/works/works_aihada_2.png" alt="")
              li
                img(src="../assets/img/works/works_aihada_3.png" alt="")
              li
                img(src="../assets/img/works/works_aihada_4.png" alt="")
              li
                img(src="../assets/img/works/works_aihada_5.png" alt="")
              li
                img(src="../assets/img/works/works_aihada_6.png" alt="")
            ul#tab-list2.works-img-box__list
              li
                img(src="../assets/img/works/works_aihada_1.png" alt="")
              li
                img(src="../assets/img/works/works_aihada_2.png" alt="")
              li
                img(src="../assets/img/works/works_aihada_3.png" alt="")
              li
                img(src="../assets/img/works/works_aihada_4.png" alt="")
              li
                img(src="../assets/img/works/works_aihada_5.png" alt="")
              li
                img(src="../assets/img/works/works_aihada_6.png" alt="")
  include includes/footer.pug
  script(src="../assets/js/jquery.min.js")
  script(src="../assets/js/shuffle-text.js")
  script(src="../assets/js/function.js")