/*--------------------------
 common
----------------------------*/
html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Kiwi Maru", sans-serif;
  color: #000;
  text-align: left;
}
@media all and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media all and (max-width: 767px) {
  body {
    font-size: 3.7333333333vw;
  }
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 2rem 0;
  font-size: 16px;
  line-height: 1.7;
}

.pc-only {
  display: inherit !important;
}

.sp-only {
  display: none !important;
}

@media all and (max-width: 767px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: inherit !important;
  }
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1024px;
}

.container-md {
  max-width: 1170px;
}

.container-sm {
  max-width: 960px;
}

.tags {
  margin: 0.5rem 0;
}
.tags__list {
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
  background-color: #FF57B9;
  display: inline;
  border-radius: 3px;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  gap: 0 1rem;
}
.sns a {
  width: 100px;
  display: inline-block;
  padding: 0.3rem 1rem;
  font-size: 24px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
}
.sns a:hover {
  opacity: 0.6;
}
.sns__twitter {
  background: #55acee;
}
.sns__facebook {
  background: #3b5998;
}
.sns__line {
  background: #1dcd00;
}

.display-none {
  display: none;
}

/*--------------------------
 header
----------------------------*/
.page-header {
  color: #fff;
  background-color: #abced8;
}
@media all and (min-width: 768px) {
  .page-header {
    padding: 3rem 0;
  }
}
@media all and (max-width: 767px) {
  .page-header {
    margin-top: 2rem;
  }
}
.page-header__inner {
  position: relative;
  margin: auto;
  z-index: 1;
}
@media all and (min-width: 768px) {
  .page-header__inner {
    padding: 5rem 0;
  }
}
@media all and (max-width: 960px) {
  .page-header__inner {
    padding: 4rem 2rem;
  }
}
@media all and (max-width: 767px) {
  .page-header__inner {
    padding: 26.6666666667vw 2.6666666667vw 26.6666666667vw;
    overflow: hidden;
  }
}
.page-header__inner::after {
  content: "";
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  margin: 0 -5%;
  width: 110%;
  height: 100%;
  z-index: -1;
}
@media all and (min-width: 768px) {
  .page-header__inner::after {
    background: url("images/page-header-bg.jpg") center/100% auto no-repeat;
  }
}
@media all and (max-width: 767px) {
  .page-header__inner::after {
    background: url("images/page-header-bg_sp.jpg") center/100% auto no-repeat;
  }
}
.page-header__inner::before {
  content: "";
  display: block;
  background: url("images/page-header-character.png") center bottom/80% auto no-repeat;
  position: absolute;
  height: 100%;
  z-index: 0;
  bottom: 0;
}
@media all and (min-width: 768px) {
  .page-header__inner::before {
    width: 38%;
    right: 0;
  }
}
@media all and (max-width: 767px) {
  .page-header__inner::before {
    width: 70%;
    right: -12%;
  }
}
.page-header__title {
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Kaisei Opti", sans-serif;
}
@media all and (max-width: 767px) {
  .page-header__title {
    font-size: 32px;
    font-size: 8.5333333333vmin;
  }
}

@media all and (min-width: 768px) {
  .global-nav {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 600;
    font-family: "Kaisei Opti", sans-serif;
  }
}
@media all and (max-width: 960px) {
  .global-nav {
    font-size: 18px;
  }
}
@media all and (max-width: 767px) {
  .global-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #00a3af;
    color: #fff;
    z-index: 2;
    font-size: 16px;
    font-weight: 600;
    font-family: "Kaisei Opti", sans-serif;
  }
}
.global-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media all and (min-width: 768px) {
  .global-nav__list {
    gap: 2rem;
  }
}
@media all and (max-width: 767px) {
  .global-nav__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.global-nav__list a:hover {
  color: #FF57B9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*--------------------------
 pager
----------------------------*/
.pager {
  margin: 3rem auto 2rem;
}
.pager .article-pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.pager .article-pager__prev, .pager .article-pager__next {
  color: #00a3af;
  background-color: #ebf6f7;
}
.pager .article-pager__prev a, .pager .article-pager__next a {
  padding: 0.75rem 1rem;
  display: inline-block;
}
.pager .article-pager__prev a:hover, .pager .article-pager__next a:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff;
  background-color: #00a3af;
}

/*--------------------------
 page numbers
----------------------------*/
.nav-links ul {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-links ul span,
.nav-links ul a {
  padding: 0.5rem;
  display: inline-block;
  background-color: #fff;
}
.nav-links .current {
  color: #fff;
  background-color: #00a3af;
}

/*--------------------------
 footer
----------------------------*/
.footer {
  background-color: #00a3af;
  color: #fff;
}
@media all and (min-width: 768px) {
  .footer__inner {
    padding: 3rem 0;
  }
}
@media all and (max-width: 767px) {
  .footer__inner {
    padding: 3rem 1rem;
  }
}
.footer__banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
@media all and (min-width: 768px) {
  .footer__banners li {
    width: 48%;
  }
}
@media all and (max-width: 767px) {
  .footer__banners li {
    width: 100%;
  }
}
.footer__copyright {
  text-align: center;
  margin-top: 2rem;
}

/*--------------------------
 common
----------------------------*/
.site-body {
  background-color: #ebf6f7;
}
@media all and (min-width: 768px) {
  .site-body {
    padding: 5rem 0;
  }
}
@media all and (max-width: 767px) {
  .site-body {
    padding: 13.3333333333vw 0;
  }
}
.site-body__2col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 767px) {
  .site-body__2col {
    gap: 2rem;
  }
}

.primary {
  background-color: #fff;
}
@media all and (min-width: 768px) {
  .primary {
    padding: 3rem 2rem;
    width: 71.5%;
  }
}
@media all and (max-width: 767px) {
  .primary {
    padding: 2rem 1rem;
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .secondary {
    width: 25%;
  }
}
@media all and (max-width: 767px) {
  .secondary {
    width: 100%;
  }
}

.more-button a {
  display: block;
  max-width: 150px;
  margin: auto;
  padding: 1rem 0.5rem;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  background-color: #00a3af;
  cursor: pointer;
}

/*--------------------------
 top
----------------------------*/
.page-section__title {
  color: #fff;
  text-align: center;
}
@media all and (min-width: 768px) {
  .page-section__title {
    margin-bottom: 4rem;
  }
}
@media all and (max-width: 767px) {
  .page-section__title {
    margin-bottom: 8vw;
  }
}
.page-section__title span {
  display: block;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  font-family: "Kaisei Opti", sans-serif;
}
@media all and (max-width: 767px) {
  .page-section__title span {
    font-size: 12.8vw;
  }
}
.page-section__title--primary {
  color: #000;
}
.page-section__title--primary span {
  color: #00a3af;
}

@media all and (min-width: 768px) {
  .main-section__inner {
    margin-bottom: 5rem;
  }
}
@media all and (max-width: 767px) {
  .main-section__inner {
    margin-bottom: 13.3333333333vw;
  }
}

.post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}
@media all and (min-width: 768px) {
  .post-list {
    gap: 2rem;
  }
}
@media all and (max-width: 767px) {
  .post-list {
    gap: 1rem;
  }
}
@media all and (min-width: 768px) {
  .post-list__card {
    width: calc(33.3333333333% - 2rem);
  }
}
@media all and (max-width: 767px) {
  .post-list__card {
    width: 100%;
  }
}
.post-list__card a {
  display: block;
  min-height: 400px;
  padding: 1.5rem;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media all and (max-width: 960px) {
  .post-list__card a {
    min-height: 330px;
  }
}
.post-list__card p {
  text-align: left;
  margin: 0;
}
.post-list__card figure {
  position: relative;
  overflow: hidden;
}
.post-list__card figure::before {
  display: block;
  content: "";
  position: absolute;
  left: -30%;
  top: -260%;
  width: 230%;
  height: 200%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.post-list__card figure::after {
  display: block;
  content: "";
  position: absolute;
  left: -30%;
  top: -260%;
  width: 230%;
  height: 200%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 87, 185, 0.3)), to(rgba(0, 163, 175, 0.3)));
  background: linear-gradient(to bottom right, rgba(255, 87, 185, 0.3), rgba(0, 163, 175, 0.3));
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}
.post-list__card figure img {
  display: block;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.post-list__card:hover figure::before {
  top: 0;
}
.post-list__card:hover figure::after {
  top: 0;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.post-list .card-text {
  margin-top: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
@media all and (max-width: 767px) {
  .post-list .card-text {
    font-size: 14px;
    font-size: 3.7333333333vmin;
  }
}
.post-list .card-text time {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 80%;
  color: #707070;
}

@media all and (min-width: 768px) {
  .profile-section {
    padding-top: 5rem;
  }
}
@media all and (max-width: 767px) {
  .profile-section {
    padding-top: 13.3333333333vw;
  }
}
.profile-section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (min-width: 768px) {
  .profile-section__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media all and (max-width: 960px) {
  .profile-section__flex {
    padding: 0 120px;
  }
}
@media all and (max-width: 767px) {
  .profile-section__flex {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
  }
}
.profile-section__flex figure {
  border: 1px solid #00a3af;
}
@media all and (min-width: 768px) {
  .profile-section__flex figure {
    width: 30%;
  }
}
@media all and (max-width: 767px) {
  .profile-section__flex figure {
    width: 53.3333333333vw;
  }
}
@media all and (min-width: 768px) {
  .profile-section__desc {
    width: 60%;
  }
}
@media all and (max-width: 767px) {
  .profile-section__desc {
    width: 80vw;
  }
}
.profile-section__name {
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: 600;
  font-family: "Kaisei Opti", sans-serif;
}
@media all and (max-width: 960px) {
  .profile-section__name {
    font-size: 30px;
  }
}
@media all and (max-width: 767px) {
  .profile-section__name {
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-size: 6.4vmin;
  }
}
.profile-section__name:first-line {
  font-size: 40%;
  line-height: 1;
  letter-spacing: 1rem;
}
.profile-section__txt {
  line-height: 2;
}
.profile-section__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  color: #00a3af;
}
@media all and (max-width: 767px) {
  .profile-section__sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.profile-section__sns a:hover {
  color: #FF57B9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.character-section {
  position: relative;
  overflow: hidden;
  background-color: #00a3af;
  z-index: 0;
}
@media all and (min-width: 768px) {
  .character-section::after {
    position: absolute;
    content: "";
    display: block;
    background: #abced8;
    width: 60%;
    height: 1000px;
    top: 0;
    right: -25%;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    z-index: -1;
  }
}
@media all and (min-width: 768px) {
  .character-section {
    padding: 5rem 0;
  }
}
@media all and (max-width: 767px) {
  .character-section {
    padding: 13.3333333333vw 0;
  }
}

.characters li {
  padding: 0 120px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 767px) {
  .characters li {
    padding: 0 0 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 2rem;
  }
}
.characters__desc {
  width: 60%;
  line-height: 2;
  color: #fff;
}
@media all and (max-width: 767px) {
  .characters__desc {
    width: 80vw;
  }
}
.characters__img {
  width: 30%;
  border: solid 1px #00a3af;
}
@media all and (max-width: 767px) {
  .characters__img {
    width: 53.3333333333vw;
  }
}
.characters__name {
  margin-bottom: 1rem;
  font-size: 36px;
}
@media all and (max-width: 767px) {
  .characters__name {
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-size: 6.4vmin;
  }
}
.characters__name span {
  font-size: 80%;
}
.characters__name:first-line {
  font-size: 40%;
  line-height: 1;
  letter-spacing: 0.3rem;
}

/*--------------------------
 blog
----------------------------*/
.blog__date {
  color: #707070;
  margin-bottom: 0.5rem;
  font-size: 12px;
}
.blog__title {
  font-weight: bold;
  line-height: 1.5;
}
@media all and (min-width: 768px) {
  .blog__title {
    font-size: 24px;
  }
}
@media all and (max-width: 767px) {
  .blog__title {
    font-size: 20px;
  }
}
.blog h2 {
  position: relative;
  padding: 1rem 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.7;
}
.blog h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
  background-image: -webkit-repeating-linear-gradient(135deg, #FF57B9, #FF57B9 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #FF57B9, #FF57B9 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.blog__section-title {
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.5;
}
@media all and (min-width: 768px) {
  .blog__section-title {
    font-size: 20px;
  }
}
@media all and (max-width: 767px) {
  .blog__section-title {
    font-size: 18px;
  }
}

.banners li {
  margin-bottom: 1rem;
}

/*--------------------------
 contact
----------------------------*/
.contact-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}
.contact-form__left {
  width: 40%;
  display: block;
}
@media all and (max-width: 767px) {
  .contact-form__left {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
.contact-form__right {
  width: 50%;
  display: block;
}
@media all and (max-width: 767px) {
  .contact-form__right {
    width: 100%;
  }
}
.contact-form .wpcf7-text,
.contact-form .wpcf7-textarea {
  width: 100%;
  padding: 0.5rem;
  border: solid 1px #00a3af;
  border-radius: 3px;
  background-color: #fff;
}

.wpcf7-submit {
  display: block;
  margin: 4rem auto 0;
  padding: 1rem 3rem;
  color: #fff;
  background-color: #00a3af;
  border-radius: 3px;
}

.wpcf7-not-valid-tip {
  margin-top: 0.5rem;
  color: #FF57B9;
}

.wpcf7-response-output {
  text-align: center;
  font-weight: bold;
  color: #FF57B9;
  border-color: transparent;
}