$primary-color: #6E0DA7;
$secondary-color: #F1D6FF;
$third-color: #FBF3FF;
$link-color: #FF57B9;
$text-color: #000;
$text-sub-color: #707070;

@function get_vmin($size, $viewport:375){
	$rate: 100 / $viewport;
	@return $rate * $size * 1vmin;
}

@mixin fontSize($font_size:10){
  font-size: $font_size * 1px;
  font-size: get_vmin($font_size);
}

@function get_vw($size, $viewport:375){
	$rate: 100 / $viewport;
	@return $rate * $size * 1vw;
}

@mixin fontEj($font_size: 32px) {
  font-size: $font_size;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}

// ブレークポイント設定
$pc: 768;
@mixin pc {
  @media all and (min-width: ($pc + 'px')) {
    @content;
  }
}
$sp: 767;
@mixin sp {
  @media all and (max-width: ($sp + 'px')) {
    @content;
  }
}
$tb: 960;
@mixin tb {
  @media all and (max-width: ($tb + 'px')) {
    @content;
  }
}

/*--------------------------
 common
----------------------------*/
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  letter-spacing: .05rem;
  color: $text-color;
  text-align: left;
  @include pc {
    font-size: 16px
  }
  @include sp {
    font-size: get_vw(14);
  }
}
img {
  width: 100%;
}
.pc-only {
  display: inherit !important;
}
.sp-only {
  display: none !important;
}
@include sp {
  .pc-only {
    display: none !important;
  }
  .sp-only {
    display: inherit !important;
  }
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  max-width: 1024px;
}
.container-md {
  max-width: 1170px;
}
.container-sm {
  max-width: 960px;
}

/*--------------------------
 header
----------------------------*/
.page-header {
  color: #fff;
  background:linear-gradient(135deg, $link-color 0%,$primary-color 50%);
  @include pc {
    padding: 3rem 0;
  }
  &__inner {
    position: relative;
    margin: auto;
    z-index: 1;
    @include pc {
      padding: 2rem 0;
    }
    @include sp {
      overflow: hidden;
    }
    &::after {
      content: "";
      mix-blend-mode: soft-light;
      position: absolute;
      top: 0;
      margin: 0 -5%;
      width: 110%;
      height: 100%;
      z-index: -1;
      @include pc {
        background: url("/img/page-header-bg.jpg") center / 100% auto no-repeat;
      }
      @include sp {
        background: url("/img/page-header-bg_sp.jpg") center / 100% auto no-repeat;
      }
    }
    &::before {
      content: "";
      display: block;
      background: url("/img/page-header-character.png") center / 100% auto no-repeat;
      position: absolute;
      height: 100%;
      z-index: 0;
      @include pc {
        width: 40%;
        bottom: 0;
        right: -2%;
      }
      @include sp {
        width: 70%;
        bottom: -10%;
        right: -24%;
      }
    }
  }
  &__title {
    @include fontEj(80px);
    line-height: 1.2;
    @include sp {
      font-size: get_vw(56);
    }
  }
}
.global-nav {
  margin-top: 4rem;
  &__list {
    display: flex;
    gap: 2rem;
    @include pc {
      @include fontEj();
    }
    @include sp {
      display: none;
      @include fontEj(20px);
    }
    a {
      &:hover {
        color: $link-color;
        transition: all .5s ease;
      }
    }
  }
}
/*--------------------------
 pager
----------------------------*/
.pager {
  margin: 3rem auto 2rem;
  .article-pager {
    display: flex;
    justify-content: center;
    gap: 2rem;
    &__prev,
    &__next {
      color: &$primary-color;
      background-color: $third-color;
      a {
        padding: .75rem 1rem;
        display: inline-block;
        &:hover {
          transition: all .5s ease;
          color: #fff;
          background-color: $primary-color;
        }
      }
    }
  }
}
/*--------------------------
 footer
----------------------------*/
.footer {
  background-color: $primary-color;
  color: #fff;
  &__inner {
    @include pc {
      padding: 3rem 0;
    }
    @include sp {
      padding: 3rem 1rem;
    }
  }
  &__banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    li {
      @include pc {
        width: 48%;
      }
      @include sp {
        width: 100%;
      }
    }
  }
  &__copyright {
    text-align: center;
    margin-top: 2rem;
  }
}
/*--------------------------
 common
----------------------------*/
.site-body {
  background-color: $third-color;
  @include pc {
    padding: 5rem 0;
  }
  @include sp {
    padding: get_vw(50) 0;
  }
  &__2col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include sp {
      gap: 2rem;
    }
  }
}
.primary {
  background-color: #fff;
  @include pc {
    padding: 3rem 2rem;
    width: 71.5%;
  }
  @include sp {
    padding: 2rem 1rem;
    width: 100%;
  }
}
.secondary {
  @include pc {
    width: 25%;
  }
  @include sp {
    width: 100%;
  }
}
/*--------------------------
 top
----------------------------*/
.page-section {
  &__title {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    @include pc {
      margin-bottom: 4rem;
    }
    @include sp {
      margin-bottom: get_vw(30);
    }
    span {
      display: block;
      margin-bottom: 1rem;
      color: #fff;
      @include pc {
        font-size: 60px;
      }
      @include sp {
        font-size: get_vw(48);
      }
    }
    &--outline {
      color: $text-color;
      span {
        -webkit-text-stroke: 2px $primary-color;
      }
    }
  }
}
.main-section {
  @include pc {
    padding-bottom: 5rem;
  }
  @include sp {
    padding-bottom: get_vw(50);
  }
  .story-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include pc {
      gap: 2rem;
    }
    @include sp {
      gap: 1rem;
    }
    &__card  {
      @include pc {
        width: 48%;
      }
      @include sp {
        width: 100%;
      }
      a {
        background-color: #fff;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        transition: .2s;
        &:hover {
          transform: translateY(-7px);
        }
      }
      figure {
        width: 40%;
      }
    }
    .card-text {
      width: 55%;
      font-weight: 600;
      @include sp {
        font-size: get_vw(14)
      }
      time {
        display: block;
        margin-bottom: .5rem;
        font-weight: 400;
        font-size: 80%;
        color: $text-sub-color;
      }
    }
  }
}
.profile-section {
  @include pc {
    padding-top: 5rem;
  }
  @include sp {
    padding-top: get_vw(50);
  }
  &__flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include pc {
      justify-content: space-between;
    }
    @include sp {
      justify-content: center;
      gap: 2rem;
    }
    figure {
      border: 1px solid $primary-color;
      @include pc {
        width: 30%;
      }
      @include sp {
        width: get_vw(200);
      }
    }
  }
  &__desc {
    @include pc {
      width: 60%;
    }
    @include sp {
      width: get_vw(300);
    }
  }
  &__name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1rem;
    &:first-line {
      font-size: 40%;
      line-height: 1;
      letter-spacing: 1rem;
    }
  }
  &__txt {
    line-height: 2;
  }
  &__sns {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    color: $primary-color;
    @include sp {
      justify-content: center;
    }
    a:hover {
      color: $link-color;
      transition: all .5s ease;
    }
  }
}
.character-section {
  position: relative;
  overflow: hidden;
  background:linear-gradient(135deg, $link-color 0%,$primary-color 50%);
  &::after {
    @include pc {
      position: absolute;
      content: "";
      display: block;
      background: #F1D6FF;
      width: 60%;
      height: 1000px;
      top: 0;
      right: -25%;
      transform: rotate(25deg);
    }
  }
  @include pc {
    padding: 5rem 0;
  }
  @include sp {
    padding: get_vw(50) 0;
  }
}
.character-list {
  li {
    padding: 0 120px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include sp {
      padding: 0;
      justify-content: center;
      flex-direction: column-reverse;
      gap: 2rem;
    }
  }
  &__desc {
    width: 60%;
    line-height: 2;
    color: #fff;
    @include sp {
      width: get_vw(300);
    }
  }
  &__img {
    width: 30%;
    border: solid 1px $primary-color;
    @include sp {
      width: get_vw(200);
    }
  }
  &__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    span {
      font-size: 80%;
    }
    &:first-line {
      font-size: 40%;
      line-height: 1;
      letter-spacing: .5rem;
    }
  }
}

/*--------------------------
 blog
----------------------------*/
.blog {
  &__date {
    color: $text-sub-color;
    margin-bottom: .5rem;
    font-size: 12px;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.5;
    @include pc {
      font-size: 24px;
    }
    @include sp {
      font-size: 20px;
    }
  }
  &__section-title {
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.5;
    @include pc {
      font-size: 20px;
    }
    @include sp {
      font-size: 18px;
    }
  }
  p {
    margin-bottom: 2rem;
    font-size: 16px;
    line-height: 1.7;
  }
}
.banners {
  li {
    margin-bottom: 1rem;
  }
}