@charset "UTF-8";
/* --------------------------------------------------
* 00.setting //カラー、フォントなどの変数を設定
* 01.layout //l-から始まる接頭辞のclassに対して設定
* 02.modules //ボタンなどのパーツはここにまとめる
* 03.custom //独自のものは全てBEMに準してここに記述
-------------------------------------------------- */
/* --------------------------------------------------
* 00.setting
-------------------------------------------------- */
body {
  font-family: 'Lato', 'Helvetica Neue', 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; }

/* --------------------------------------------------
* 01.layout
-------------------------------------------------- */
/* header */
.l-header {
  width: 100%;
  position: relative; }
  .l-header__inner {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 10vh;
    padding: 0 5vw; }
  .l-header__global-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .l-header__global-nav__item {
    padding-right: 50px;
    font-size: 18px;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .l-header__global-nav__item {
        padding-right: 3vw;
        font-size: 14px; } }
    .l-header__global-nav__item h1 {
      width: 50px; }
      @media screen and (max-width: 768px) {
        .l-header__global-nav__item h1 {
          width: 7vw; } }
      .l-header__global-nav__item h1 img {
        width: 100%; }
    .l-header__global-nav__item a {
      -webkit-transition: ease .2s;
      -o-transition: ease .2s;
      transition: ease .2s;
      display: block; }
      .l-header__global-nav__item a.active {
        color: #ff0; }
      .l-header__global-nav__item a:hover {
        color: #ff0; }

.l-container {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#fff));
  background-image: -webkit-linear-gradient(bottom, #eee 0%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #eee 0%, #fff 100%);
  background-image: linear-gradient(to top, #eee 0%, #fff 100%); }

.l-section {
  padding-bottom: 10vw;
  position: relative; }
  .l-section:nth-child(odd) {
    background-color: #fff; }

.l-seciton__title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-left: 2vw;
  font-size: 36px; }
  .l-seciton__title:after {
    content: "";
    display: block;
    margin: 10px 0 0 -2vw;
    width: 150px;
    height: 4px;
    background-color: #cd669a; }
  @media screen and (max-width: 768px) {
    .l-seciton__title {
      position: absolute; } }
  @media screen and (max-width: 768px) {
    .l-seciton__title {
      font-size: 24px; } }

/* footer */
.l-footer {
  background-color: #cd669a;
  padding: 1rem 0; }
  .l-footer__copylight {
    color: #fff;
    text-align: center;
    font-size: 14px; }

/* --------------------------------------------------
* 02.modules
-------------------------------------------------- */
/* button */
.button {
  border: 1px #000 solid;
  color: #000;
  display: inline-block;
  font-size: 14px;
  padding: .7rem 2rem;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .button {
      padding: .5rem 3vw; } }

.disable {
  pointer-events: none; }

.paragraph {
  margin-bottom: 1rem;
  font-size: 14px;
  color: #000;
  line-height: 1.5; }
  .paragraph:last-child {
    margin-bottom: 0; }

.copy {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem; }

.vertica-line {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl; }

/* --------------------------------------------------
* 03.custom
-------------------------------------------------- */
.hero {
  background: url(../img/index/index_hero.jpg) center center/cover no-repeat;
  height: 100vh;
  position: relative;
  top: -10vh;
  z-index: -1;
  overflow: hidden; }
  .hero::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5vw solid rgba(205, 102, 154, 0.9);
    border-top: 15vh solid rgba(205, 102, 154, 0.9);
    border-bottom: 15vh solid rgba(205, 102, 154, 0.9); }
  .hero__title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 11.5vw;
    font-weight: 300;
    text-align: center;
    line-height: 2;
    white-space: nowrap;
    opacity: .7;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1; }
    @media screen and (max-width: 480px) {
      .hero__title {
        line-height: 2.5; } }
  .hero__sub-title {
    font-size: 60px;
    font-weight: 300;
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #ff0;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .hero__sub-title {
        font-size: 44px; } }
    @media screen and (max-width: 480px) {
      .hero__sub-title {
        font-size: 24px; } }
    .hero__sub-title .vertica-line {
      font-size: 10px;
      padding: 0 1rem; }
      @media screen and (max-width: 480px) {
        .hero__sub-title .vertica-line {
          -webkit-writing-mode: horizontal-tb;
          -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb; } }

.grid {
  max-width: 900px;
  margin: 0 auto 50px;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-rows: auto 2rem auto 2rem auto;
  -ms-grid-columns: minmax(30%, 50%) 2rem minmax(30%, 50%) 2rem minmax(30%, 50%);
  grid-template: repeat(3, auto)/repeat(3, minmax(30%, 50%)); }
  @media screen and (max-width: 1280px) {
    .grid {
      width: 90%; } }
  @media screen and (max-width: 768px) {
    .grid {
      gap: 1rem; } }
  @media screen and (max-width: 480px) {
    .grid {
      -ms-grid-rows: (auto)[6];
      -ms-grid-columns: (100%)[1];
      grid-template: repeat(6, auto)/repeat(1, 100%); } }

.column {
  max-width: 900px;
  margin: 0 auto 50px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-box-shadow: 0px 6px 25px rgba(0, 53, 106, 0.05);
  box-shadow: 0px 6px 25px rgba(0, 53, 106, 0.05); }
  @media screen and (max-width: 1280px) {
    .column {
      width: 90%; } }

.carrier {
  position: relative;
  max-width: 1280px;
  margin: 3rem auto 0; }
  @media screen and (max-width: 1280px) {
    .carrier {
      width: 90%; } }
  .carrier:before {
    content: "";
    display: block;
    padding-top: 43%; }
  .carrier__message {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 60%;
    border: solid 7px #000;
    padding: 3vw;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3); }
    @media screen and (max-width: 768px) {
      .carrier__message {
        top: 60%;
        width: 100%;
        padding: 7vw; } }
  .carrier__img {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 60%;
    z-index: 0; }
    @media screen and (max-width: 1024px) {
      .carrier__img {
        right: -7%; } }
    .carrier__img img {
      width: 100%; }

.column--works {
  padding: 50px; }
  @media screen and (max-width: 768px) {
    .column--works {
      padding: 25px; } }
  .column--works .column__img {
    margin: 0 auto;
    width: 80%; }
    .column--works .column__img img {
      width: 100%; }

.column--works-post {
  padding: 50px;
  margin-bottom: 2rem; }
  @media screen and (max-width: 768px) {
    .column--works-post {
      padding: 5vw; } }

.column--skills .column__img {
  padding: 25px 0;
  text-align: center; }
  .column--skills .column__img img {
    max-width: 100px; }

.column__tag-box span {
  border-radius: 10px;
  background-color: #eee;
  display: inline-block;
  font-size: 14px;
  padding: .5rem;
  margin: 0 .3rem .3rem 0; }

.column__img {
  background-color: #eee;
  height: 150px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.column__text-box {
  padding: 0 50px 25px 50px; }
  @media screen and (max-width: 768px) {
    .column__text-box {
      padding: 0 25px 25px 25px; } }

.column__name {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 10px; }

.column__name__level {
  color: #cd669a;
  font-size: 14px;
  padding-left: .5rem; }

.column__job {
  font-size: 14px;
  margin-bottom: 25px; }

.column__button-area {
  text-align: right; }

.link-area {
  position: fixed;
  right: 3vw;
  bottom: 15%; }

.link-area__item {
  margin-bottom: 10px;
  width: 60px; }
  .link-area__item a {
    display: block; }
    .link-area__item a img {
      width: 100%; }

/* works */
.works-hero {
  background: url(../img/works/works_hero.jpg) center top/cover no-repeat;
  height: 50vh;
  position: relative;
  z-index: 0; }
  @media screen and (max-width: 768px) {
    .works-hero {
      height: 25vh; } }
  .works-hero__title {
    color: #fff;
    font-size: 36px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.works-img-box {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .works-img-box img {
    width: 100%; }
  .works-img-box__figure {
    -ms-flex-preferred-size: 37%;
    flex-basis: 37%; }
    @media screen and (max-width: 480px) {
      .works-img-box__figure {
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
        margin: 0 auto 2rem; } }
    .works-img-box__figure li {
      display: none; }
      .works-img-box__figure li.active {
        display: block; }
  .works-img-box__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-grid;
    display: grid;
    -ms-flex-preferred-size: 57%;
    flex-basis: 57%;
    -ms-grid-rows: (auto)[2];
    -ms-grid-columns: (27%)[3];
    grid-template: repeat(2, auto)/repeat(3, 27%);
    padding: 1rem 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (max-width: 480px) {
      .works-img-box__list {
        gap: 1rem 0;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .works-img-box__list li {
      -webkit-transition: .2s ease;
      -o-transition: .2s ease;
      transition: .2s ease; }
      .works-img-box__list li:hover {
        opacity: .7; }
