.practice {
  width: 640px;
  margin: 0 auto;
  border: solid 1px #032149;
  border-radius: 5px; }
  .practice__inner {
    padding: 1rem 2rem; }
  .practice__title {
    color: #032149; }
    .practice__title span {
      font-size: 16px;
      margin-left: 1rem; }

.practice-problem {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px #eee; }
  .practice-problem button {
    border-radius: 50px;
    border: solid 1px #032149;
    color: #032149;
    padding: .5rem 1rem; }
    .practice-problem button:hover {
      opacity: .7; }
