// メインカラー
$main-color: #FFA000;
$main-bg-color: #E3F2FD;

// TODO:サブカラー
// $sub-color: #4a98f1;

// テキストカラー
$font-color: #212121;

// アクセントカラー
$accent-color: #29B6F6;
 
//　無彩色（黒と白はblack,whiteで記述すること）
$non-colored-color-gray-600: #333;
$non-colored-color-gray-500: #797979;
$non-colored-color-gray-400: #a3a3a3;
$non-colored-color-gray-300: #d1d1d1;
$non-colored-color-gray-200: #eee;
$non-colored-color-gray-100: #f9f9f9;