- var title = "JSドリル";

doctype
html(lang="ja")
  include template/_header.pug
  script(src="https://unpkg.com/axios/dist/axios.min.js")

  body
    header
      div.header-contents
        h1 WORKSHOP
        h2 JAVASCRIPT基礎の総合課題
    div.main-wrapper
      h3 title

  script(src="js/app.js")