- var title = "JSドリル";

doctype
html(lang="ja")
  include template/_header.pug
  script(src="https://unpkg.com/axios/dist/axios.min.js")

  body
    header
      div.header-contents
        h1 WORKSHOP
        h2 JAVASCRIPT基礎の総合課題
    div.main-wrapper
      section.section
        h3 短いプログラムで年齢をドロップダウンに表示する！
        select#age-1 年齢
      section.section
        h3 メニューの内容をリストに表示する
        ul#menu
      section.section
        h3 ボタンをクリックしたら確認ボックスを表示する①
        p ウィンドウを閉じるには『close』ボタンを押してください
        button#button-1 close
      section.section
        h3 ボタンをクリックしたら確認ボックスを表示する②
        p ウィンドウを閉じるには『close』ボタンを押してください
        button#button-2 close
      section.section
        h3 選ばれた年齢によって割引率を変える
        select#age-2(name="age")
          option(value="") お選びください
          option(value="10") 10歳以下
          option(value="30") 11-30歳
          option(value="50") 31-50歳
          option(value="51") 51歳以上
      section.section
        h3 今日のラッキーカラーをランダムに表示する
        p#lucky-color
      section.section
        h3 ポケモンの数はいくつ？
        p ポケモンが#[span.pokemon 10]匹やってきました
        p ポケモンが#[span.pokemon 12]匹やってきました
        p ポケモンが#[span.pokemon 36]匹やってきました
        p ポケモンが#[span.pokemon 21]匹やってきました
        p ポケモンは合計#[span#result]です。
      section.section
        h3 入力したテキストを表示する
        p#input
        button#input-button click me
      section.section
        h3 FizzBuzz
        p コンソールログ内に1から100までを表示させる。ただし、3の倍数では「Fizz」と表示させる。5の倍数では「Buzz」と表示させる。3と5の倍数では「FizzBuzz」と表示させること。
        button#start-button FizzBuzz
      section.section
        h3 各項目部分をクリックされたら10人分のアカウント情報を表示させる
        table(style="border-color: #000000;" border="1")
          tbody
            tr
              td.list#number(style="border-color: #000000; width:100px;") 番号
              td.list#user(style="border-color: #000000; width:100px;") ユーザー名
              td.list#id(style="border-color: #000000; width:100px;") ログインＩＤ
              td.list#pw(style="border-color: #000000; width:100px;") パスワード


  script(src="js/script.js")