@charset "utf-8";

html {
  font-size: 62.5%;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

body {
  font-size: 1rem;
  overflow-x: hidden;
}

h1 {
  font-size: 1.4rem
}

p {
  font-size: 1.6rem;
  line-height: 2
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer
}

button {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 480px) {
  .brNone {
    display: none
  }

  .brSp {
    display: inline
  }
}

@media screen and (max-width:480px) {
  p {
    font-size: 1.4rem
  }

  .brNone {
    display: inline
  }

  .brSp {
    display: none
  }
}

.button {
  font-weight: 700;
  width: 250px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  float: left
}

.button a {
  transition: all .2s ease;
  position: relative;
  z-index: 2;
  color: #000;
  display: block;
  padding: 20px 0;
  letter-spacing: .3em;
  text-align: center
}

.contactButton {
  margin-top: 3rem;
}

.contactButton a{
  width: 180px;
  display: block;
  padding: 1.5rem 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #781103;
  border: 2px solid #781103;
  color: #fff;
  transition: all .3s;
}
.contactButton a:hover {
  background-color: #fff;
  border-color: #781103;
  color: #781103;
}

.hover {
  width: 250px;
  height: 50px;
  left: -250px;
  background-color: #000;
  position: absolute;
  transition: all .2s ease;
  z-index: 1
}

.button:hover .hover {
  left: 0
}

.button:hover a {
  color: #fff
}

@media screen and (max-width: 480px) {
  .button {
    width: 70%;
    float: none;
    margin: 0 auto
  }

  .hover {
    background-color: #fff;
    z-index: 1
  }

  .button a {
    color: #000;
    padding: 10px 0
  }

  .messageButton a {
    padding: 10px 0
  }

  .button:hover a {
    color: #000
  }
}

@media screen and (max-width: 320px) {
  .button {
    width: 50%
  }
}

.content {
  margin-bottom: 29.89537vh
}

@media screen and (max-width:1024px) {
  .content {
    margin-bottom: 14.9448vh
  }
}

.sectionTitle {
  font-size: 5.4rem;
  text-align: center;
  font-family: 'Crimson Text', serif;
  letter-spacing: .5rem
}

.sectionSubTitle {
  font-size: 1.6rem;
  text-align: center;
  color: #bbb;
  padding-bottom: 6rem
}

@media screen and (max-width: 480px) {
  .sectionTitle {
    font-size: 2.7rem;
    padding-bottom: 10px
  }

  .sectionSubTitle {
    padding-bottom: 40px
  }

  .sectionSubTitle {
    font-size: 1.2rem
  }
}

.active {
  color: #fa0000 !important
}

.footer {
  background-color: #000;
  text-align: center;
  color: #fff
}

.footerInner {
  padding: 40px
}

.footerInner p {
  font-size: 1.2rem
}

@media screen and (max-width: 768px) {
  .footerInner {
    padding: 10px
  }
}

/* --------------------------------------------------
PAGE COMMON
-------------------------------------------------- */
.pageHeader {
  width: 100%;
  margin-top: -60px;
}

.pageHeaderInner {
  position: relative;
  overflow: hidden;
}

.pageHeaderTitle {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  width: 1000px;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.2;
  color: #fff;
  z-index: 2;
}

.pageHeaderTitle::first-line {
  font-size: 7rem;
  font-weight: bold;
  font-family: 'Crimson Text', serif;
  letter-spacing: .5rem;
}

.pageHeaderKv {
  height: 100%;
  z-index: 0;
}

.pageHeaderKv::after {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  content: "";
  z-index: 1;
}

.pageHeaderImg {
  width: 100%;
  height: 560px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .pageHeaderTitle {
    width: 80%;
  }

  .pageHeaderImg {
    height: 400px;
    object-fit: cover;
  }
}

@media screen and (max-width: 560px) {
  .pageHeaderTitle {
    font-size: 2rem;
  }
  
  .pageHeaderTitle::first-line {
    font-size: 4rem;
  }

  .pageHeaderImg {
    height: 300px;
  }
}

.pageMessage {
  margin: 10rem 0;
}

.pageMessageInner {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .pageMessageInner {
    width: 80%;
  }
}

.pageMessageTitle{
  font-weight: bold;
  font-size: 24px;
  line-height: 2;
  margin-bottom: 5rem;
}

@media screen and (max-width: 560px) {
  .pageMessageTitle {
    font-size: 18px;
  }
}

.pageMessageText {
  font-size: 16px;
  margin-bottom: 2rem;
}

.pageMessageText:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 560px) {
  .pageMessageText {
    font-size: 15px;
  }
}

.sign {
  text-align: right
}

@media screen and (max-width:768px) {
  .sign {
    font-size: 1.4rem
  }
}

.container {
  width: 1000px;
  margin: 10rem auto;
  box-sizing: border-box
}

@media screen and (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

.mainVisualMovie {
  width: 100vw;
  height: 100%;
  object-fit: cover
}

.mainVisual {
  position: relative;
  top: -60px;
  z-index: -1;
  margin-bottom: 20rem;
  height: 100vh;
  width: 100%
}

.heroTitle {
  position: absolute;
  font-size: 7.5rem;
  color: #fff;
  line-height: 1.3;
  top: 50%;
  left: 5vw;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

.heroTitle::before {
  content: '';
  display: inline-block;
  background: #fff;
  height: 2px;
  width: 87px;
  margin-right: 6px;
  margin-bottom: 5px
}

.heroTitle span {
  font-size: 2.25rem
}

.heroTitleColor {
  color: #e70000
}

@media screen and (max-width: 768px) {
  .heroTitle {
    font-size: 6.2rem
  }
}

@media screen and (max-width: 480px) {
  .heroTitle {
    font-size: 3.2rem
  }

  .heroTitle::before {
    width: 20px
  }

  .heroTitle span {
    font-size: 1.6rem
  }
}

@media screen and (max-width: 320px) {
  .aboutTitle {
    font-size: 1.6rem !important
  }

  .heroTitle {
    font-size: 2.8rem
  }

  .heroTitle span {
    font-size: 1.4rem
  }
}

.aboutMessage {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29.89537vh
}

.aboutText {
  width: 50%;
  padding: 0 7vw
}

.aboutImage {
  width: 50%
}

.aboutImage img {
  width: 100%;
  box-shadow: 31px 80px #f7f7f7
}

.sectionAbout {
  text-align: left
}

.aboutTitle {
  font-size: 2rem;
  line-height: 4rem;
  padding-bottom: 4rem
}

.aboutText p {
  padding-bottom: 3.75rem;
  line-height: 2
}

.aboutContent {
  display: flex;
  margin-bottom: 29.89537vh
}

.aboutContent a {
  display: block;
  flex-basis: calc(100% / 3)
}

.aboutContent img {
  width: 100%;
  vertical-align: middle
}

.aboutContent a:hover {
  opacity: .7;
  transition: ease-in .2s
}

@media screen and (max-width:1024px) {
  .aboutMessage {
    margin-bottom: 14.9448vh
  }
}

@media screen and (max-width: 480px) {
  .mainVisual {
    margin-bottom: 0
  }

  .aboutMessage {
    flex-wrap: wrap;
    padding: 0
  }

  .aboutText {
    width: 100%;
    order: 2;
    margin-top: 100px;
    padding: 0 10px
  }

  .aboutTxtSp {
    padding-top: 110px;
    margin: 0
  }

  .aboutImageNone {
    display: none
  }

  .aboutImage {
    width: 100%
  }

  .sectionAbout {
    text-align: center
  }

  .aboutContent {
    display: block;
    margin-bottom: 100px
  }
}

/* --------------------------------------------------
MEMBER
-------------------------------------------------- */
.memberDetail {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  width: 1000px;
  margin: 0 auto;
  color: #fff;
  z-index: 2;
}

.memberCopy {
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.memberJob {
  font-size: 1.4rem;
  font-weight: normal;
}

.memberName {
  font-size: 2rem;
  font-weight: bold;
}

.member {
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;
  max-width: 1280px
}

.memberList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.memberCard {
  width: calc(100% / 3 - 3vw);
  border: 5px solid #f0f0f0
}

.memberCard img {
  width: 100%
}

@media screen and (max-width:1550px) {
  .memberList {
    width: 100%
  }
}

@media screen and (max-width: 480px) {
  .memberCard:nth-child(3) {
    margin-bottom: 0
  }

  .member {
    padding: 0 10px
  }

  .memberCard {
    width: 100%;
    margin-bottom: 50px
  }
}

.messageText {
  background: url(../images/top_measege_01.jpg) center / cover no-repeat;
  padding-bottom: 31.25%;
  position: relative;
  height: 0
}

.messageContent {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.mesaseCopy {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.7;
  padding-bottom: 1rem
}

.mesageName {
  padding-bottom: 2rem
}

@media screen and (max-width:1024px) {
  .aboutContent {
    margin-bottom: 14.9448vh
  }

  .messageContent {
    width: 90%
  }

  .messageText {
    margin-bottom: 14.9448vh
  }
}

@media screen and (min-width:770px) and (max-width:1020px) {
  .mesaseCopy {
    font-size: 2rem
  }
}

@media screen and (max-width: 480px) {
  .messageText {
    background: url(../images/sp_top_measege_01.jpg) center / 100% no-repeat;
    margin-bottom: 100px;
    height: 200px
  }

  .mesaseCopy {
    font-size: 1.5rem
  }

  .mesageName {
    padding-bottom: 10px
  }

  .messageButton {
    margin: 0;
    width: 55%
  }
}

@media screen and (max-width: 360px) {
  .mesaseCopy {
    font-size: 1.2rem
  }

  .mesageName {
    font-size: 1rem
  }
}

.blog {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  padding: 0 30px;
}

.blogMain {
  display: flex;
  box-sizing: border-box;
  align-items: center
}

.blogMainImage {
  width: 50%
}

.blogMainImage img {
  width: 100%
}

.blogMainText {
  width: 50%;
  padding: 60px
}

.blogMainTextCardTitle {
  font-size: 2rem;
  font-weight: 700
}

.category{
  color:#fa0000;
}

.blogCategory {
  font-size: 1.1rem;
  font-weight: 700;
}

.category{
  color:#fa0000;
  margin-right: 5px;
}

.tag{
  color: #000;
}

.blogCategory{
  margin-right:5px;
}

.blogCardTitle {
  font-weight: 700
}

.blogTime {
  font-size: 1.1rem;
  font-weight: 700;
  color: #bbb;
}

.blogList {
  display: flex;
  max-width: 1280px;
  margin: 80px auto 0;
  justify-content: space-between;
  flex-wrap: wrap
}

.blogCard {
  width: calc(100% / 4 - 2vw)
}

.blogText {
  margin-top: 30px
}

.blogImage img {
  width: 100%
}

@media screen and (max-width:1440px) {
  .blogMain {
    width: 100%
  }
}

@media screen and (max-width:1024px) {
  .blogMain {
    width: 90%;
    margin: 0 auto
  }

  .blogList {
    width: 90%;
    margin: 0 auto
  }

  .blogCardTitle {
    font-size: 1.4rem
  }
}

@media screen and (max-width:480px) {
  .blogMain {
    flex-wrap: wrap;
    border: none;
    width: 100%;
    padding-bottom: 30px
  }

  .blogMainImage {
    width: 100%
  }

  .blogMainText {
    width: 100%;
    padding: 15px 10px
  }

  .blogMainTextCardTitle {
    font-size: 1.8rem
  }

  .blogCard {
    width: 100%
  }

  .blogList {
    width: 100%;
    margin: 0 0 70px
  }

  .blogCard a {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px
  }

  .blogCardTitle {
    font-size: 1.4rem
  }

  .blogImage {
    flex-basis: 45%
  }

  .blogImage img {
    width: 80%
  }

  .blogText {
    flex-basis: 55%
  }

  .blog {
    padding: 0 10px
  }

  .blogCategory {
    font-size: 1rem
  }

  .blogText {
    margin-top: 0
  }
}

.entry {
  background: url(../images/top_entry_01.jpg) center / cover no-repeat;
  text-align: center;
  padding-bottom: 31%;
  position: relative
}

.entryInner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.entry:afer {
  box-shadow: inset 0 0 0 3px #f7f7f7
}

.entry p {
  color: #fff;
  text-align: center;
  line-height: 2
}

.entryButton {
  font-weight: 700;
  width: 250px;
  border: 2px solid #fff;
  margin: 50px auto 0;
  position: relative;
  overflow: hidden
}

.entryButton a {
  transition: all .2s ease;
  position: relative;
  z-index: 2;
  color: #fff;
  display: block;
  padding: 20px 0;
  letter-spacing: .3em
}

.entryButtonEffect {
  width: 250px;
  height: 50px;
  left: -250px;
  background-color: #fff;
  position: absolute;
  transition: all .5s ease;
  z-index: 1
}

.entryButton:hover .entryButtonEffect {
  left: 0
}

.entryButton:hover a {
  color: #000
}

.entry img {
  max-width: 100%
}

@media screen and (max-width: 1024px) {
  .entry {
    padding-bottom: 40%
  }

  .entry p {
    font-size: 14px
  }

  .entryButton {
    margin-top: 2vh
  }
}

@media screen and (max-width: 768px) {
  .entryInner {
    width: 90%
  }
}

@media screen and (max-width: 480px) {
  .entry {
    background: url(../images/sp_top_entry_01.jpg) center / cover no-repeat;
    padding-bottom: 50%
  }

  .entry p {
    font-size: 1.1rem;
    padding-bottom: 0
  }

  .entryButton {
    margin-top: 20px;
    width: 60%
  }

  .entryButton a {
    padding: 10px 0
  }
}

@media screen and (max-width: 320px) {
  .entry {
    padding-bottom: 60%
  }

  .entryInner {
    padding: 14px 0
  }
}

.description {
  margin: 0 0 100px
}

.descriptionText {
  text-align: center
}

.descriptionText a {
  color: red;
  text-decoration: underline
}

@media screen and (max-width:1024px) {
  .descriptionText {
    text-align: left
  }
}

@media screen and (max-width:768px) {
  .description {
    margin: 50px 0
  }

  .descriptionContact {
    margin: 0 0 500px
  }
}

@media screen and (max-width: 480px) {
  .descriptionText {
    font-size: 1.4rem
  }

  .descriptionContact {
    margin: 0 0 250px
  }
}

.contact {
  width: 1000px;
  margin: 0 auto;
  padding: 2em;
  border-collapse: collapse;
  margin-bottom: 20px
}

th,
td {
  padding: 50px 0;
  font-size: 1.6rem;
  line-height: 2
}

th {
  font-weight: 400;
  text-align: left;
  vertical-align: top
}

input {
  box-sizing: border-box;
  width: 400px;
  margin: 0;
  padding: .9rem;
  border: 1px solid #d3cdcd;
  border-radius: 0;
  background: 0 0;
  background: #fff;
  font-size: 1.6rem
}

textarea {
  box-sizing: border-box;
  width: 400px;
  height: 200px;
  margin: 0;
  padding: .9rem;
  border: 1px solid #d3cdcd;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
  font-size: 1.6rem;
  color: #757575
}

.selectbox {
  overflow: hidden;
  width: 400px;
  margin: 2em auto;
  text-align: center
}

.selectbox_s01 {
  width: 400px;
  position: relative;
  border-radius: 2px;
  background: #fff
}

.selectbox_s01::before {
  position: absolute;
  top: 1.1em;
  right: 1.5rem;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666;
  pointer-events: none
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  outline: none;
  width: 400px;
  text-overflow: ;
  padding: .9rem;
  background-color: #fff;
  border: 1px solid #d3cdcd;
  border-radius: 0;
  vertical-align: middle;
  font-size: 14px
}

@media screen and (max-width: 480px) {

  .contact input,
  .contact textarea,
  .selectbox,
  .selectbox_s01,
  .contact select {
    width: 100%
  }
}

.contact select:before {
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 0;
  content: "\f123";
  font-family: "IonIcons";
  line-height: 43px;
  color: #7F878C;
  pointer-events: none
}

.contact select option {
  background-color: #fff;
  color: #333
}

table .mustspan {
  padding: 5px;
  font-size: 12px;
  margin: 0 10px;
  color: #fff;
  background: #fa0000;
  border-radius: 2px
}

.formAgree {
  text-align: center;
  font-size: 16px
}

.formAgree p {
  margin: 0 0 20px
}

.formAgree a {
  text-decoration: underline;
  color: #fa0000
}

.formAgree input {
  width: 20px;
  height: 20px;
  margin: 50px auto
}

@media screen and (max-width: 480px) {
  table .mustspan {
    padding: 5px;
    font-size: 10px;
    margin: 0 10px;
    color: #fff;
    background: #fa0000
  }

  .formAgree {
    width: auto;
    margin: 75px auto 50px;
    text-align: left;
    font-size: 14px
  }

  .formAgree input {
    width: 20px;
    height: 20px;
    margin: 50px auto
  }
}

.formSmall {
  font-size: 1.4rem;
  display: block
}

.formBtnArea {
  padding-bottom: 120px
}

.formBtnArea button {
  margin: 0 auto;
  width: 250px;
  height: 70px;
  line-height: 70px;
  border: 2px solid #000;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  display: block;
  padding: 20px 0;
  letter-spacing: .3em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0
}

.formBtnArea button:after {
  background-color: #000;
  content: "";
  display: block;
  width: 250px;
  height: 70px;
  position: absolute;
  right: -250px;
  top: -2px;
  z-index: -1;
  transition: all .2s
}

.formBtnArea button:hover {
  color: #fff
}

.formBtnArea button:hover:after {
  right: 0;
  color: #fff
}

.formBtnArea p {
  font-size: 1.6rem
}

@media screen and (max-width:1024px) {
  .contact {
    width: 100%
  }
}

@media screen and (max-width: 480px) {
  .contact {
    width: 100%
  }

  .contact th {
    padding: 0;
    font-weight: 700
  }

  .contact tr,
  td {
    display: block
  }

  .contact tr {
    width: 100%;
    padding: 0
  }

  .contact td {
    padding: 10px 0
  }

  .formBtnArea {
    font-weight: 700;
    text-align: center;
    margin: 0 auto
  }

  input {
    width: 100%
  }

  select {
    width: 100%
  }

  textarea {
    width: 100%
  }

  .selectbox_s01 {
    width: 100%
  }
}

.cp_ipselect {
  overflow: hidden;
  width: 80%;
  text-align: center
}

.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: .01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none
}

.cp_ipselect select::-ms-expand {
  display: none
}

.cp_ipselect.cp_sl01 {
  position: relative;
  border: 1px solid #bbb;
  border-radius: 2px;
  background: #fff
}

.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: .8em;
  right: .9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666;
  pointer-events: none
}

.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  color: #666;
  font-size: 1.6rem
}

.basic {
  padding-bottom: 200px;
  font-size: 1.2rem;
  line-height: 1.5
}

.basicTable tr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb
}

.basicTable th {
  width: 40%
}

.basicTable th td {
  line-height: 2
}

@media screen and (max-width: 768px) {
  .basicTable th {
    padding: 40px 0;
    font-size: 1.4rem
  }

  tr,
  td {
    border-collapse: collapse;
    padding: 40px 0;
    font-size: 1.4rem
  }

  th {
    padding: 40px 30px 0 20px
  }
}

@media screen and (max-width: 480px) {
  .company {
    padding-bottom: 50px;
    font-size: 1.2rem;
    line-height: 1.5
  }
}

.recirutMargin {
  padding-bottom: 30px
}

@media screen and (max-width:768px) {
  .recirutSentence {
    font-size: 1.4rem
  }
}


.memberCard a:hover{
    opacity: .7;
    transition: ease-in .2s;
}

.privacyName p {
  text-align: right;
  padding-bottom: 10px
}

.basicList {
  font-size: 1.6rem;
  line-height: 2;
  padding-left: 2rem
}

.basicList li {
  padding-bottom: 20px
}

@media screen and (max-width: 768px) {
  .basic {
    width: 100%;
    margin: 0 auto
  }

  .privacyName p {
    font-size: 1.4rem
  }

  .basicList {
    font-size: 1.4rem
  }
}

@media screen and (max-width: 480px) {
  .basic {
    width: 100%;
    margin: 0 auto
  }
}

.memberChapter {
  margin-bottom: 10rem;
}

.memberChapterTitle {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 2
}

.memberChapterText {
  line-height: 2;
  margin-bottom: 20px
}

.memberChapterCard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start
}

.memberChapterCardImage {
  width: 40%;
  box-shadow: 20px 80px #f7f7f7
}

.memberChapterCardImage img {
  width: 100%
}

.memberChapterCardText {
  width: 50%
}

@media screen and (max-width:1024px) {
  .container {
    margin-bottom: 100px
  }

  .memberChapter {
    margin-bottom: 100px
  }
}

@media screen and (max-width:768px) {
  .container {
    width: 90%
  
  }
  .memberChapterText {
    font-size: 1.4rem
  }

  .memberChapterCardImage {
    width: 100%;
    margin-bottom: 15vh
  }
}

@media screen and (max-width:420px) {
  .memberChapter {
    margin-bottom: 50px
  }

  .container {
    margin-bottom: 50px
  }

  .memberChapterTitle {
    font-size: 1.5rem
  }

  .memberChapterText {
    font-size: 1.4rem
  }

  .memberChapterCardText {
    margin-top: 100px;
    width: 90%
  }
}

.mission {
  background-color: #f7f7f7;
  padding: 120px 0;
  margin-bottom: 200px
}

.missionList {
  padding: 30px 0;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between
}

.missionCard {
  width: 30%;
  text-align: center
}

.missionCard img {
  width: 30%
}

.missionTitle {
  font-size: 2rem;
  font-weight: 700
}

@media screen and (max-width: 1280px) {
  .mission {
    padding: 40px 30px
  }

  .missionList {
    width: 90%
  }
}

@media screen and (max-width:768px) {
  .mission {
    padding: 50px 10px 0
  }

  .missionTitle {
    font-size: 2rem
  }

  .missionCard {
    width: 100%;
    margin-bottom: 50px
  }

  .missionList {
    flex-wrap: wrap
  }

  .missionText {
    margin: 0
  }
}

@media screen and (max-width: 480px) {
  .missionCard img {
    width: 20%;
    margin-bottom: 30px;
  }

  .mission {
    margin-bottom: 100px
  }
}


/* --------------------------------------------------
MENU
-------------------------------------------------- */
.header {
  width: 100%;
  height: 60px;
}

.headerInner {
  height: 100%;
  position: relative;
}

.headerLogo {
  display: block;
  position: absolute;
  left: 3%;
  top: 20px;
  width: 140px;
  z-index: 5;
}

.open .headerLogo {
  position: fixed;
}

.headerLogo img {
  width: 100%;
}

.globalNav {
  display: block;
  position: relative;
  top: -100vh;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 4;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .globalNav {
    order: 1;
  }
}

.open .globalNav {
  top: 0;
  opacity: 1;
  position: fixed;
}

.globalNavInner {
  display: flex;
  flex-wrap: wrap;
  padding: 20vh 15vw;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .globalNavInner {
    padding: 20vh 10vw;
    align-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .globalNavInner {
    padding: 10vh 10vw 6vh;
    align-content: space-between;
  }
}

.globalMenu {
  position: relative;
  flex-basis: 25%;
}

@media screen and (max-width: 768px) {
  .globalMenu {
    margin: 2rem auto 0;
    text-align: center;
  }
}

.globalMenuText {
  position: absolute;
  top: -5px;
  left: -80px;
  color: #fff;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

@media screen and (max-width: 768px) {
  .globalMenuText {
    display: none;
  }
}

.globalMenuText:before {
  content: "・・・";
  display: inline-block;
  padding-bottom: 1rem;
  font-size: 20px;
  letter-spacing: -1.1rem;
  vertical-align: top;
}

.globalMenuList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.globalMenuList li {
  position: relative;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .globalMenuList li {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 320px) {
  .globalMenuList li{
    margin-bottom: 2.5rem;
  }
}

.globalMenuList li a {
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  transition-duration: 0.2s;
}

@media screen and (max-width: 1024px) {
  .globalMenuList li a {
    font-size: 24px;
  }
}


@media screen and (max-width: 320px) {
  .globalMenuList li a{
    font-size: 20px;
  }
}

.globalMenuList li a:hover {
  letter-spacing: .3rem;
}

.vision {
  margin-bottom: 5vh;
  flex-basis: 55%;
}

@media screen and (max-width: 768px) {
  .vision {
    display: none;
  }
}

.visionTitle {
  color: #fff;
  font-size: 7rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1440px) {
  .visionTitle {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .visionTitle {
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .visionTitle {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.visionText {
  color: #fff;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .visionText {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .visionText {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .visionText {
    font-size: 12px;
  }
}


/* .toggleButton */

.toggleButton {
  display: block;
  transition: all .4s;
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 23px;
  right: 3%;
  top: 20px;
  cursor: pointer;
  z-index: 5;
}

.open .toggleButton {
  position: fixed;
}

.toggleButton span {
  position: absolute;
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.toggleButton span:nth-child(1) {
  top: 0;
}

.toggleButton span:nth-child(2) {
  top: 10px;
}

.toggleButton span:nth-child(3) {
  bottom: 0;
}

.open .toggleButton span:nth-child(1),
.open .toggleButton span:nth-child(2),
.open .toggleButton span:nth-child(3) {
  width: 30px;
}

.open .toggleButton span:nth-child(2)::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  transition: all .4s;
}

.open .toggleButton span:nth-child(1) {
  transform: translateY(20px) scale(0);
}

.open .toggleButton span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open .toggleButton span:nth-child(2)::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.open .toggleButton span:nth-child(3) {
  transform: translateY(-20px) scale(0);
}

/* #mask */
#mask {
  display: none;
  transition: all .5s;
  z-index: 3;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  cursor: pointer;
}


/* main */

main {
  width: 100%;
  padding: 50px 0;
  transition: all .5s;
}

.open main {
  margin-left: 300px;
}

main h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}