footer.l-footer
  ul.link-area
    li.link-area__item
      a(href="/")
        img(src="assets/img/common/common_contact.png" alt="お問い合わせ")
    li.link-area__item
      a(href="https://www.facebook.com/chikako.hiraoka.14" target="_blank")
        img(src="assets/img/common/common_facebook.png" alt="facebook")
  p.l-footer__copylight
    small © 2020 chikako hiraoka.