html(lang="ja")
  head
    meta(charset="UTF-8")
    title Portfolio | CHIKAKO HIRAOKA
    meta(name="description" content="平岡知佳子のポートフォリオサイトです。")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="../assets/css/destyle.css")
    link(rel="stylesheet" href="../assets/css/style.css")
    link(rel="shortcut icon" href="../assets/img/common/favicon.ico")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet")