header.l-header
  .l-header__inner
    ul.l-header__global-nav
      li.l-header__global-nav__item
        a(href="index.html") HOME
      li.l-header__global-nav__item
        a(href="#carrier") CARRIER
      li.l-header__global-nav__item
        a(href="#works") WORKS
      li.l-header__global-nav__item
        a(href="#skills") SKILLS
    ul.l-header__button-area
      li.l-header__button-area__item
        a.button.disable(href="/") CONTACT