@charset "UTF-8";

/* --------------------------------------------------
BASE
-------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, Osaka,
    'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

html,
body {
  height: 100vh;
}

input[type='text'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #eee;
  padding: 0.5rem;
}

.wrapper {
  height: 100%;
  padding-bottom: 5rem;
  background-image: -webkit-linear-gradient(110deg, #00cdac 0%, #8ddad5 100%);
  background-image: -o-linear-gradient(110deg, #00cdac 0%, #8ddad5 100%);
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

.header {
  width: 100%;
  position: relative;
}

.header__contents {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/header-logo.png) 10px 50% no-repeat;
  min-height: 100px;
}

.header__contents h1,
.header__contents h2 {
  margin: 0;
  color: #fff;
  line-height: 1;
}

.header__contents h1 {
  padding: 30px 0 10px 85px;
  font-size: 24px;
}

.header__contents h2 {
  padding: 0 0 0 85px;
  font-size: 14px;
  font-weight: normal;
}

.main-wrapper {
  padding: 2rem;
}

.section {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 3rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.4);
}

.section__title {
  color: #666;
  font-weight: normal;
  text-align: center;
}

.footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 10px auto;
  padding: 15px 30px;
  color: #fff;
  font-size: 12px;
  text-align: right;
}

a {
  color: #5e78c1;
  text-decoration: none;
}

a:hover {
  color: #b04188;
  text-decoration: underline;
}

@media (max-width: 600px) {
  header {
    background-position: 32% 50%;
    border-top: #20567d 5px solid;
  }
  .header__contents {
    min-height: 60px;
    background-size: 40px 40px;
    background-position: 10px 50%;
  }
  .header__contents h1 {
    padding: 15px 0 5px 55px;
    font-size: 16px;
  }
  .header__contents h2 {
    padding: 0 0 0 55px;
    font-size: 12px;
  }
}

/* --------------------------------------------------
CUSTOM STYLE
-------------------------------------------------- */

.form {
  margin-top: 2rem;
}

.form__wrap {
  border: none;
  padding: 0;
}

.form__item {
  width: 50%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  -ms-grid-rows: 30px 0.5rem 30px 0.5rem 30px;
  -ms-grid-columns: 90% 0.5rem 1fr;
  grid-template: '. .' 30px '. .' 30px '. .' 30px / 90% 1fr;
}

@media (max-width: 500px) {
  .form__item {
    width: 100%;
  }
}

.form span {
  color: #666;
  vertical-align: middle;
}

.form2__item {
  margin: 1rem 0;
}

.form2__item dd,
.form2__item dt {
  margin: 0;
  text-align: left;
}

.form2__name {
  margin: 0.5rem 0;
}

.form3__item {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}

.button {
  display: block;
  width: 200px;
  margin: 0 auto 1rem;
  padding: 1rem 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: #f06;
}

.button:hover {
  opacity: 0.7;
}

.error {
  margin: 0.5rem 0;
  height: 30px;
  color: #f06;
  font-size: 80%;
  text-align: center;
}

.note {
  margin-left: 0.5rem;
  font-size: 80%;
  color: #666;
  text-align: left;
}

.result {
  margin: 1rem auto;
  color: #f06;
  text-align: center;
  font-size: 20px;
}

.supplement {
  margin: 0;
  color: #666;
  font-size: 14px;
  text-align: center;
}

.winning-result {
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  background: #eee;
  display: none;
}

.winning-result.active {
  animation: fadeIn 0.5s ease-in;
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.winning-result p {
  margin: 0 0 0.5rem;
  text-align: center;
}

.winning-result p:last-child {
  margin: 0;
}

/* --------------------------------------------------
PORKER
-------------------------------------------------- */

.porker-game {
  height: 1200px;
  padding: 2rem 0;
  box-sizing: border-box;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALUlEQVQYV2M0CpL4r2bDywADt458ZmCM6FP9D2KAJGA0WBCkCiYAYmNXic1MAFyVHlo8jcPeAAAAAElFTkSuQmCC);
  font-family: 'Black Ops One', cursive;
}

.porker-game__title {
  max-width: 280px;
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  .porker-game__title {
    width: 90%;
  }
}

.porker-game__title img {
  width: 100%;
}

.screen-layout {
  max-width: 640px;
  margin: 2rem auto;
  padding: 2rem 4rem;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .screen-layout {
    width: 90%;
    padding: 2rem;
  }
}

.win-rate {
  margin: 0 0 1rem;
  font-size: 18px;
  text-align: right;
  color: yellow;
}

.porker-game__head {
  display: flex;
  width: 80%;
  margin: 0 auto 1rem;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .porker-game__head {
    width: 90%;
  }
}

.porker-game__head--reverse {
  margin: 2rem auto 0;
  flex-flow: row-reverse nowrap;
}

.porker-game__result--win,
.porker-game__result--lose,
.porker-game__result--draw {
  margin: 0;
  font-size: 45px;
}

.porker-game__result--win {
  color: red;
}

.porker-game__result--lose {
  color: #00a0e9;
}

.porker-game__result--draw {
  color: greenyellow;
}

@media screen and (max-width: 768px) {
  .porker-game__result--win,
  .porker-game__result--lose,
  .porker-game__result--draw {
    font-size: 7vw;
  }
}

.porker-game__position {
  margin: 0;
  font-size: 60px;
  line-height: 1;
  color: #fefbcf;
}

@media screen and (max-width: 768px) {
  .porker-game__position {
    font-size: 9vw;
  }
}

.porker-game__count {
  margin: 1rem 0 0;
  font-size: 18px;
  text-align: left;
  color: yellow;
}

.porker__role-name-area {
  position: relative;
  height: 80px;
  margin: 0 auto 2rem;
  line-height: 80px;
  background-color: #000;
}

.porker__role-name-area::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: #000000 transparent transparent transparent;
}

.porker__role-name {
  margin: 0;
  font-size: 30px;
  text-align: center;
  color: yellow;
}

@media screen and (max-width: 560px) {
  .porker__role-name {
    width: 100%;
    font-size: 6vw;
  }
}

.porker__playing-card {
  display: flex;
  justify-content: space-between;
}

.porker__playing-card img {
  width: calc(100% / 5 - 1rem);
  transition: all 2s ease-out;
}

.porker__start-button {
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 30px;
  font-family: 'Black Ops One', cursive;
  color: #fefbcf;
  background-color: red;
  border: solid 2px yellow;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .porker__start-button {
    width: 90%;
  }
}

.porker__start-button:hover {
  background-color: yellow;
  color: #000;
}
