doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    title hiraoka portfolio
  body
    header.l-header
      div.l-header__innder
        ul.l-header__global-nav
          li.l-header__menu
            a(href='/') ABOUT
          li.l-header__menu
            a(href='/') WORKS
          li.l-header__menu
            a(href='/') CAREER
        div.c-button
           a(href='/')

    div.l-hero
      h1.l-hero__main-copy PORTFOLIO
        br
        | CHIKAKO HIRAOKA

    footer.l-footer
      p.l-footer__copyright
        small hiraoka