article.entry
  .entryInner
    p
      | ALCHEMYは、まだまだ発展途上です。
      br
      | 共に成長しながら、可能性を広げていける仲間が必要です。
      br
      | 興味を持っていただけた方は、気軽にお問い合わせください。
    .entryButton
      .entryButtonEffect
      a(href="https://www.wantedly.com/companies/alchemy-lab/projects" target="_blank") ENTRY