header#header.header
      .headerInner
        p.headerTitle
          a(href="index.html")
            img(src="images/common/logo_01.png" alt="株式会社ALCHEMY")
        .headerButton
          div
            span
            span
            span
        nav.globalNav
          ul.globalNavList
            li
              a(href="about.html") ABOUT
            li
              a(href="message.html") MESSAGE
            li
              a(href="company.html") COMPANY
            li
              a(href="recruit.html") RECRUIT
            li
              a(href="contact.html") CONTACT