- const title = "お問い合わせ｜株式会社ALCHEMY";

doctype html
html(lang="ja")
  include parts/_head.pug
  body
    include parts/_header.pug
    .container
      section.MainTitle
        h1.mainBigTitle CONTACT
        p.mainDescription
          span #{title}
      section.description
        p.descriptionText
          | 当社へのお問い合わせの際は、必要事項をご記入ください。
          br
          | 担当者よりご記入頂いたメールアドレス宛に返信させて頂きます。
          br
          | ※個人の方は会社名は結構です。
      section.mailform
        form#entry(method="post" action="entry/confirm.php" name="entry")
          table.contact
            tbody
              tr
                th
                  | 件名
                  span.mustspan 必須
                td
                  .selectbox_s01
                    select#subject(name="subject")
                      option(value="" selected="") いずれかの中からお選びください
                      option(value="案件や人材のご協業について") 案件や人材のご協業について
                      option(value="採用について") 採用について
                      option(value="受託開発について") 受託開発について
                      option(value="その他の事業について") その他の事業について
              tr
                th 会社名
                td
                  p#error_furigana
                  input#companyName(type="text" name="companyName")
              tr
                th
                  | ご担当者お名前
                  span.mustspan 必須
                td
                  p#error_name
                  input#officerName(type="text" name="officerName")
              tr
                th 役職
                td
                  p#error_birthday
                  input#position(type="text" name="position")
              tr
                th
                  | メールアドレス
                  span.mustspan 必須
                td
                  p#error_email
                  input#mail.formText.email.required(type="text" name="mail")
              tr
                th
                  | 電話番号
                  span.mustspan 必須
                td
                  p#error_tel
                  input#tel(type="text" name="tel")
              tr
                th 弊社を知ったきっかけ
                td
                  p#error_qualification
                  textarea#wayToKnow(name="wayToKnow" type="text")
                  span.formSmall ※弊社を知ったきっかけがあればご記入ください。
              tr
                th
                  | メッセージ本文
                  span.mustspan 必須
                td
                  p#error_career_history
                  textarea#body(name="body" type="text")
                  span.formSmall ※お問い合わせ内容をご記入ください。
          .formAgree
            p
              | 当社（株式会社ALCHEMY）は、お客様より取得する個人情報を、
              br
              | お問い合わせいただいたご質問やご要望へ回答する目的でのみ利用いたします。
            p
              | なお、当社の個人情報保護に関する基本方針については、
              br
              | 以下の
              a(href="privacy.html" target="blank") プライバシーポリシー
              | をご確認ください。
            p 記入内容に問題がなければ「確認する」ボタンを押してください。
          .formBtnArea
            input#confirm_button(type="hidden" name="privacy" value="同意する")
            .button-hover
            button#sendButton(type="button" value="入力内容を確認する")
              p 入力内容を確認する
    include parts/_entry.pug
    include parts/_footer.pug
    include parts/_script.pug