body {
  font-family: 'Helvetica Neue', 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
//color
$color-main: #ff7fa1;
$color-base: #fff9fb;
$color-sub: #666;
$color-link: #000;

//width
$width-container: 1200px;
$width-main: 900px;
$width-sub: 360px;

//font-size
$font-size-xl: 48px;
$font-size-lg: 36px;
$font-size-md: 24px;
$font-size-sm: 20px;
$font-size-xs: 18px;
$font-size-xss: 14px;