/* button */
.button{
  border:1px $color-link solid;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  display: inline-block;
  font-size: $font-size-xs;
  line-height: 1.2;
  padding: .5rem 1.5rem;
  text-align: center;
  transition:ease .2s;
  @include mq(md){
    font-size: $font-size-xss;
    padding: .5rem 3vw;
  }
  &:hover{
    border:1px $color-main solid;
    background-color: $color-main;
    color: #fff;
  }
}
.disable{
  pointer-events: none;
}
.paragraph{
  font-size: $font-size-xss;
  line-height: 1.5;
  margin-bottom: 25px;
  &:last-child{
    margin-bottom: 0;
  }
}