/* header */
.l-header{
  width: 100%;
  position: relative;

  &__inner{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 5vw;
  }

  &__global-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  &__global-nav__item{
    padding-right: 50px;
    font-size: $font-size-xs;
    color: #fff;
    @include mq(md){
      padding-right: 3vw;
      font-size: $font-size-xss;    
    }
    h1{
      width: 50px;
      @include mq(md){
        width: 7vw;
      }
      img{
        width: 100%;
      }
    }
    a{
      transition:ease .2s;
      display: block;
      &.active{
        color: $color-sub;
      }
      &:hover{
        color: $color-sub;
      }
    }
  }
}

.l-container{
  background-image: linear-gradient(to top, $color-base 0%, #fff 100%);
}

.l-section{
  padding-bottom: 10vw;
  position: relative;

  &:nth-child(odd) {
    background-color: #fff;
  }

}

.l-seciton__title {
  position: sticky;
  top: 0;
  margin-left: 2vw;
  font-size: $font-size-lg;

  &:after {
    content: "";
    display: block;
    margin: 10px 0 0 -2vw;
    width: 150px;
    height: 4px;
    background-color: $color-main;
  }
  @include mq(md){
    position: absolute;
  }
  @include mq(md){
    font-size: $font-size-md;
  }
}

/* footer */
.l-footer{
  background-color: $color-main;
  padding: 1rem 0;

  &__copylight{
    color: #fff;
    text-align: center;
    font-size: $font-size-xss;
  }
}