/* button */
.button{
  border:1px $color-link solid;
  color: #000;
  display: inline-block;
  font-size: $font-size-xss;
  padding: .7rem 2rem;
  text-align: center;
  @include mq(md){
    padding: .5rem 3vw;
  }
}
.disable{
  pointer-events: none;
}

.paragraph{
  margin-bottom: 1rem;
  font-size: $font-size-xss;
  color: #000;
  line-height: 1.5;
  &:last-child{
    margin-bottom: 0;
  }
}

.copy {
  font-size: $font-size-xs;
  font-weight: 600;
  margin-bottom: 1rem;
}

.vertica-line {
  writing-mode: vertical-rl;
}